
__pycache__/

env/

venv/

HPC/got-ocr-optimized.sif

HPC/got-ocr-multipage.sif

HPC/got-ocr-reasoning.sif

models/__pycache__/

server/__pycache__/

utils/__pycache__/

/data/

new/

.env

# application